@layout("/common/_curd/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _col=[
		@			  {name:"排序",index:"num",type:"text",newline:true,length:3},
		@			  {name:"上级角色",index:"pName", type:"text",newline:false,length:3},
		@			  {name:"角色名称",index:"name", type:"text",newline:true,length:3},
		@			  {name:"所在部门",index:"deptName", type:"text",newline:false,length:3},
		@			  {name:"别名",index:"tips", type:"text",newline:true,length:8}
		@		   ]; 
		@ include("/common/_curd/_view.html",{"col":_col}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_close:"关闭"}) {}
	</form>
@}
