@layout("/common/_curd/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
	<form data-url="${ctxPath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="TB_TFW_TZGG";
		@ var _col=[
		@			  {name:"通知标题",index:"F_VC_BT",type:"text",newline:true,length:8,required:"required"},
		@			  {name:"公告类型",index:"F_IT_LX", type:"opentree_102",check:"radio",newline:true,length:3,required:"required"},
		@			  {name:"通知时间",index:"F_DT_FBSJ", type:"laydate",format:"YYYY-MM-DD hh:mm:ss",newline:false,length:3,required:"required"},
		@			  {name:"通知内容",index:"F_TX_NR", type:"kindeditor",newline:true,length:8,required:"required"}
		@		   ];
		@ include("/common/_curd/_add.html",{"col":_col,"table":_table}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"新增",btn_close:"关闭"}) {}

	</form>
	
@}
