@layout("/common/_curd/_container.html"){
<script type="text/javascript">
	var ctx="${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns","${code}");
	});
	
	/**
	*用于执行按钮加载事件结束后操作的ajax请求(否则会导致回调覆盖,也可以使用 async:false)
	*/
	function doOther(){
		initZtree();
	}
	
	function initGrid(){
		var grid_url = ctx+"/${code}/list";//查询列表接口
		var _colnames=[ "序列","部门简称", "部门全称","上级部门","排序","备注"];
		var _colmodel=[   {name:"ID",index:"ID", width:80,hidden:true},
						  {name:"SIMPLENAME",index:"SIMPLENAME", width:100},
						  {name:"FULLNAME",index:"FULLNAME", width:150},
						  {name:"PNAME",index:"PID", width:100},
						  {name:"NUM",index:"NUM", width:30,align:"right"},
						  {name:"TIPS",index:"TIPS", width:100}
						];
		
		jQuery(grid_selector).jqGrid({
			url:grid_url,
		    shrinkToFit:true,//适用于较少字段,响应式
			colNames:_colnames,
			colModel:_colmodel, 
			jsonReader:{id:"ID"},
			pager : pager_selector,
			postData: {sort: "id", order: "asc"}
		});
	}
	

	
	function initZtree(){
		var setting = {
				data: {
					simpleData: {
						enable: true
					}
				},
				callback: {
					beforeClick: zTreeBeforeClick
				}
			};
		var ajax = new $ax("${ctxPath}/cache/deptTreeList", function(data){
			if(data.code===0){
				$.fn.zTree.init($("#zTree"), setting, data.data);
			}
			else{
				layer_alert("数据加载失败", "error");
			}
		});
		ajax.start();
	}
	
	function zTreeBeforeClick(treeId, treeNode, clickFlag) {
	    var id=treeNode.id;
	    if(id==""){
		    exwhere="";
		    searchGrid();
		    return;
	    }
	    else{
		    exwhere="{\"pId_equal\":\""+id+"\",\"or_id_equal\":\""+id+"\"}";
		    searchGrid();
	    }

	};
	
</script>


	<!-- 配置grid -->
	<div class="row"> 
		<div class="col-sm-3">
			<div class="widget-box widget-color-blue2">
				<div class="widget-header">
					<h4 class="widget-title lighter smaller">部门组织架构</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main padding-8">
						<ul id="zTree" class="ztree"></ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-9 tb-grid">
			<!-- 配置查询 -->
			@ var _col=[
			@			  {name:"部门简称",index:"SIMPLENAME", type:"text"},
			@			  {name:"部门全称",index:"FULLNAME", type:"text"},
			@			  {name:"上级部门",index:"PID",type:"selectDept"},
			@			  {name:"排序",index:"NUM",type:"text"},
			@			  {name:"备注",index:"TIPS", type:"text"}
			@		   ];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮组 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页 -->
			<div id="grid-pager"></div>
		</div>
	</div>
	<!-- 引入列表页所需js -->
	@include("/common/_listscript.html"){}
	<link rel="stylesheet" href="${ctxPath}/static/zTree/css/zTreeStyle/zTreeStyle.css" />
	<script src="${ctxPath}/static/zTree/js/jquery.ztree.core.js" type="text/javascript" ></script>
@}	