@layout("/common/_curd/_container.html",{title:"HTTP 500错误页"}){
		<div class="error-container">
			<div class="well">
				<h1 class="grey lighter smaller">
					<span class="blue bigger-125">
						<i class="ace-icon fa fa-exclamation-triangle"></i>
						警告
					</span>
					访问发生错误
				</h1>

				<hr />
				<h3 class="lighter smaller">
					<i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
					对不起,当前用户无权操作!
				</h3>

				<div class="space"></div>

				<div>
					<h4 class="lighter smaller">如有问题请联系管理员:</h4>

					<ul class="list-unstyled spaced inline bigger-110 margin-15">
						<li>
							<i class="ace-icon fa fa-hand-o-right blue"></i>
							邮箱 : <a class="blue" href="#" target="_blank">administrator${"@"}admin.com</a>
						</li>
					</ul>
				</div>

				<hr />
				<div class="space"></div>
			</div>
		</div>
@}