	<!-- basic scripts -->
	<script type="text/javascript">
		if('ontouchstart' in document.documentElement) document.write("<script src='${ctxPath}/static/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
	</script>
	<script src="${ctxPath}/static/assets/js/bootstrap.js"></script>
	
	<!-- page specific plugin scripts -->

	<script src="${ctxPath}/static/assets/js/jquery-ui.custom.js"></script>
	<script src="${ctxPath}/static/assets/js/jquery.ui.touch-punch.js"></script>
	<script src="${ctxPath}/static/assets/js/jquery.easypiechart.js"></script>
	<script src="${ctxPath}/static/assets/js/jquery.sparkline.js"></script>
	<script src="${ctxPath}/static/assets/js/flot/jquery.flot.js"></script>
	<script src="${ctxPath}/static/assets/js/flot/jquery.flot.pie.js"></script>
	<script src="${ctxPath}/static/assets/js/flot/jquery.flot.resize.js"></script>

	<script src="${ctxPath}/static/assets/js/ace/ace.js"></script>
	<script src="${ctxPath}/static/assets/js/ace/ace.sidebar.js"></script>
	<script src="${ctxPath}/static/assets/js/ace/ace.sidebar-scroll-1.js"></script>


		

		
		
		
		
