 <script src="${ctxPath}/static/assets/js/jqGrid/jquery.jqGrid.src.js" type="text/javascript" ></script>
 <script src="${ctxPath}/static/assets/js/jqGrid/i18n/grid.locale-cn.js" type="text/javascript" ></script>
 <script src="${ctxPath}/static/style/js/forlist.js" type="text/javascript" ></script>
 <script src="${ctxPath}/static/blade/js/blade-btn.js" type="text/javascript" ></script>
 
 <script src="${ctxPath}/static/assets/js/jquery.contextmenu.js" type="text/javascript" ></script>
 <script src="${ctxPath}/static/blade/js/blade-girdmenu.js" type="text/javascript" ></script>
 
 
 @include("/common/_function/_rightmenu.html"){}