
			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					$(function(){
						$("#sidebar").css({"max-height":$(window).height()-130,"overflow-y":"auto","overflow-x":"hidden"});
					});
						
				    $(window).resize(function () {
						$("#sidebar").css({"max-height":$(window).height()-130,"overflow-y":"auto","overflow-x":"hidden"});
				    });
				</script>

				<ul id="sidebar_container" class="nav nav-list">
					<li id="sidebar_home">
						<a href="javascript:openPerson();">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 欢迎 ${shiro.getUser().name}  </span>
						</a>

						<b class="arrow"></b>
					</li>

					<blade:sidebar userId="${shiro.getUser().id}" roleId="${shiro.getUser().roles}" />
					
				</ul>
				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

		 		<script src="${ctxPath}/static/layer/layer.js"></script>
			</div>
