   <style type="text/css">
    #bread_left{
    	float:left;
	    width:85%;
		overflow:hidden;
		display:inline-block;
    }
    
    #bread_right{
   		float:right;
	    width:15%;
		display:inline-block;
    }
    
	#tmsp_tab{
		width:4096px;
		top:6px;
		left:-1px;
	}
   	
   	#tmsp_tab_content{
	   	border:0px;
	   	padding:5px 5px 0px 5px;
	   	margin-top:40px;
	   	height:100%;
   	}

   </style>
   
   <div class="tab_menu">
	  <ul id="tmsp_tab" class="nav nav-tabs" role="tablist">
	      <li id="welcome_tab" class="active" style="cursor:pointer;">
			  <a data-toggle="tab" href="#home">
				<i class="green ace-icon fa fa-home bigger-120"></i>
				  首页
			  </a>
	     </li>
	  </ul>
   </div>
   