@layout("/common/_container.html"){

		<div class="row" style="padding:10px 16px 10px 16px;">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					欢迎使用
					<strong class="green">
						Blade 企业级开发平台
						<small>(v1.0)</small>
					</strong>,
					以下为快速地址导向
				</div>
				
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					使用技术:
					<strong class="green">
						Spring + SpringMVC + Beetl + Ehcache + Shiro + BootStrap
					</strong>
				</div>
				
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					ECharts范例官网
					<strong class="green">
						<a class="green" href="http://echarts.baidu.com/examples.html" target="_blank">http://echarts.baidu.com/examples.html</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					Beetl在线编码帮助
					<strong>
						<a class="green" href="http://ibeetl.com:8080/beetlonline/" target="_blank">http://ibeetl.com:8080/beetlonline/</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					BeetlSql文档
					<strong>
						<a class="green" href="http://ibeetl.com/guide/beetlsql.html" target="_blank">http://ibeetl.com/guide/beetlsql.html</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					BootStrap在线帮助
					<strong>
						<a class="green" href="http://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">http://www.runoob.com/bootstrap/bootstrap-tutorial.html</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					BootStrap图标选择
					<strong>
						<a class="green" href="http://fontawesome.io/icons/" target="_blank">http://fontawesome.io/icons/</a>
					</strong>
				</div>
				
			
			</div>
	  </div>
	  
@}	